<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>jQuery carousel</title>
		<link rel="stylesheet" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="js/tmpl.js"></script>
		<script src="js/slidesData.js"></script>
		<script src="js/script.js"></script>
		<script src="js/slider.js"></script>
	</head>
	<body>
		<script type="text/html" id="slider1">
	    <div class="carousel-arrow-left"><span>Влево</span>
		</div>
		
	    <div class="carousel-hider">
			  <ul class="carousel-list">
			  <% for(var i=0; i<slidesData.length; i++){ %>
					<li class="carousel-element"><img src="img/<%=slidesData[i]["img_name"]%>.jpg"><p><%=slidesData[i]["description"]%></p></li>
			  <% } %>
				
			  </ul>
		</div>
		
		<div class="carousel-arrow-right"><span>Вправо</span>
		</div>
		</script>
	</body>
</html>